<div class="absolute inset-0 flex overflow-hidden">
    <mat-drawer-container class="bg-card h-full flex-auto dark:bg-transparent">
        <!-- Drawer -->
        <mat-drawer class="w-full dark:bg-gray-900 md:w-160" [mode]="drawerMode" [opened]="drawerOpened"
            [position]="'end'" [disableClose]="true" #matDrawer>
            <app-edit-member></app-edit-member>
        </mat-drawer>

        <mat-drawer-content class="flex w-full flex-col gap-y-4 overflow-auto p-6">
            <div class="flex flex-wrap gap-4 text-3xl">
                <div class="flex flex-initial items-center gap-x-2">
                    <div class="font-mono text-4xl font-semibold text-primary opacity-80">
                        จัดการ
                    </div>
                </div>

                <div class="flex flex-auto items-center justify-end gap-x-2">


                    <div class="w-auto">
                        <button mat-flat-button color="accent" 
                                class="add-button rounded-lg py-2 px-6 font-bold"
                                (click)="onOpenCreate()" 
                                [@fadeIn]>
                            <mat-icon>add</mat-icon>เพิ่มข้อมูล
                        </button>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>

            <ng-container *ngIf="members$ | async as memberResp">
                <div class="sm:overflow-visible overflow-x-auto w-full table-container" [@fadeIn]>
                    <app-table-member [memberResp]="memberResp" (edit)="onEditMember($event)"
                        (delete)="onDeleteMember($event)">
                    </app-table-member>

                    <edit-member-component *ngIf="isEditDrawerOpen" [member]="selectedMember"
                        (close)="isEditDrawerOpen = false">
                    </edit-member-component>
                </div>
            </ng-container>
        </mat-drawer-content>
    </mat-drawer-container>
</div>